@media screen and (max-width: 376px) {
.conteiner {
    padding: 0;
  }

  .conteiner .navbar {
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    position: relative;
    top: 60px;
  }

  .conteiner .navbar .menu {
    width: 36px;
    height: 27px;
    flex-shrink: 0;
    display: block;
    background: #fff;
    position: absolute;
    left: 20px;
    top: -40px;
    cursor: pointer;
  }

  .conteiner .navbar .logo input {
    width: 170px;
    height: 56px;
    border: 1px solid #ccc;
    position: absolute;
    right: 130px;
    bottom: 57px;
    border-bottom: none;
    border-top: none;
    border-radius: 0;
  }


  .conteiner .navbar .menu1 {
    display: block;
    position: absolute;
    width: 50px;
    height: 56px;
    right: 71px;
    bottom: 58px;
  }

  .conteiner .navbar .btn {
    position: absolute;
    right: 17px;
    bottom: 68px;
  }

  .conteiner .content ul {
    display: none;
  }

  .conteiner .navbar .navlinks ul {
    display: none;
  }

  .conteiner .navbar .logo .katalog {
    display: none;
  }

  .conteiner .navbar .logo .logoBtn {
    display: none;
  }

  .conteiner header .header {
    display: grid;
    gap: 20px;
    position: relative;
    bottom: -230px;
    left: 109px;
  }

  .conteiner header .header1 h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  .conteiner header .header h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }


  .conteiner header .header1 {
    display: grid;
    gap: 20px;
    position: absolute;
    right: 46px;
    bottom: -2570px;
  }

  .conteiner .navbar .navlinks ul  {
    display: none;
  }

  .conteiner .navbar .logo .katalog {
    display: none;
  }

  .conteiner .bbq {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    top: 62px;
    padding: 40px;
    border-radius: 0;
    position: absolute; 
    background-color: #fff;
    right: 5px;
    display: none;
    border-top: 1px solid #000;
  }

  .conteiner .bbq .navlinks ul {
    display: grid;
    gap: 50px;
    position: relative;
  }

  .conteiner .bbq .navlinks ul li a {
    font-size: 24px;
    position: absolute;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    cursor: pointer;
  }

  .conteiner .bbq .box {
    width: 100%;
    height: 1px;
    background: #eee;
  }

  .conteiner .bbq .flex {
    display: flex;
    gap: 30px;
  }

  .conteiner .bbq .clear {
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
  }

  .gotov {
    font-size: 32px;
  }

  .conteiner .tovar form {
    flex-wrap: wrap;
    position: relative;
    bottom: 100px;
    left: 35px;
}

.conteiner .shop .item {
    width: 280px;
    height: 320px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    /* background-image: url(tovari.css); */
    background-size: cover;
    margin-left: 32px;
}

  .conteiner .tovar form b {
    color: #000;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
}

.conteiner .tovar form .po {
    width: 170px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: 17px;
}

.conteiner .tovar form .ott {
    width: 83px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: 17px;
}   

.conteiner .item2 {
    display: none;
}

.conteiner .item3 {
    display: none;
}

.conteiner header .header {
    display: grid;
    gap: 20px;
    position: relative;
    bottom: -9px;
    left: 75px;
}

.conteiner header .header1 {
    display: grid;
    gap: 20px;
    position: absolute;
    right: 46px;
    bottom: -956px;
}

}

@media screen and (max-width: 426px) {
  .conteiner {
      padding: 0;
    }
  
    .conteiner .navbar {
      width: 100%;
      height: 60px;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      position: relative;
      top: 60px;
    }
  
    .conteiner .navbar .menu {
      width: 36px;
      height: 27px;
      flex-shrink: 0;
      display: block;
      background: #fff;
      position: absolute;
      left: 20px;
      top: -40px;
      cursor: pointer;
    }
  
    .conteiner .navbar .logo input {
      width: 170px;
      height: 56px;
      border: 1px solid #ccc;
      position: absolute;
      right: 130px;
      bottom: 57px;
      border-bottom: none;
      border-top: none;
      border-radius: 0;
    }
  
  
    .conteiner .navbar .menu1 {
      display: block;
      position: absolute;
      width: 50px;
      height: 56px;
      right: 71px;
      bottom: 58px;
    }
  
    .conteiner .navbar .btn {
      position: absolute;
      right: 17px;
      bottom: 68px;
    }
  
    .conteiner .content ul {
      display: none;
    }
  
    .conteiner .navbar .navlinks ul {
      display: none;
    }
  
    .conteiner .navbar .logo .katalog {
      display: none;
    }
  
    .conteiner .navbar .logo .logoBtn {
      display: none;
    }
  
    .conteiner header .header {
      display: grid;
      gap: 20px;
      position: relative;
      bottom: -230px;
      left: 109px;
    }
  
    .conteiner header .header1 h1 {
      color: #000;
      font-family: Montserrat;
      font-size: 27px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
    }
  
    .conteiner header .header h1 {
      color: #000;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
    }
  
  
    .conteiner header .header1 {
      display: grid;
      gap: 20px;
      position: absolute;
      right: 46px;
      bottom: -2570px;
    }
  
    .conteiner .navbar .navlinks ul  {
      display: none;
    }
  
    .conteiner .navbar .logo .katalog {
      display: none;
    }
  
    .conteiner .bbq {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      top: 62px;
      padding: 40px;
      border-radius: 0;
      position: absolute; 
      background-color: #fff;
      right: 5px;
      display: none;
      border-top: 1px solid #000;
    }
  
    .conteiner .bbq .navlinks ul {
      display: grid;
      gap: 50px;
      position: relative;
    }
  
    .conteiner .bbq .navlinks ul li a {
      font-size: 24px;
      position: absolute;
      color: #000;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; 
      cursor: pointer;
    }
  
    .conteiner .bbq .box {
      width: 100%;
      height: 1px;
      background: #eee;
    }
  
    .conteiner .bbq .flex {
      display: flex;
      gap: 30px;
    }
  
    .conteiner .bbq .clear {
      position: absolute;
      right: 20px;
      top: 40px;
      cursor: pointer;
    }
  
    .gotov {
      font-size: 32px;
    }
  
    .conteiner .tovar form {
      flex-wrap: wrap;
      position: relative;
      bottom: 100px;
      left: 35px;
  }
  
  .conteiner .shop .item {
      width: 280px;
      height: 320px;
      flex-shrink: 0;
      background: url(<path-to-image>), lightgray 50% / cover no-repeat;
      /* background-image: url(tovari.css); */
      background-size: cover;
      margin-left: 32px;
  }
  
    .conteiner .tovar form b {
      color: #000;
      font-family: Montserrat;
      font-size: 19px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.6px;
  }
  
  .conteiner .tovar form .po {
      width: 170px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 7px;
      border: 1px solid #000;
      padding: 0 10px;
      font-size: 17px;
  }
  
  .conteiner .tovar form .ott {
      width: 83px;
      height: 42px;
      flex-shrink: 0;
      border-radius: 7px;
      border: 1px solid #000;
      padding: 0 10px;
      font-size: 17px;
  }   
  
  .conteiner .item2 {
      display: none;
  }
  
  .conteiner .item3 {
      display: none;
  }
  
  .conteiner header .header {
      display: grid;
      gap: 20px;
      position: relative;
      bottom: -9px;
      left: 75px;
  }
  
  .conteiner header .header1 {
      display: grid;
      gap: 20px;
      position: absolute;
      right: 46px;
      bottom: -956px;
  }
  
  }